.container {
    position: relative;
    width: 200px;
    // height: 200px;
    height: 85vh;
  }

  .waves-effect[_ngcontent-ng-c1472317785] .another-one-btn{
    font-size: 20px;
  }


  .svg-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }

  svg {
    width: 51px;
    height: 51px;
  }

  .new-text-container{
    // padding: 30px;
    height: 85vh
  }